.post{
  width: calc(100% - 500px);
}

.post-header{
  width: 100%;
  height: 90px;
  background-color: #f5f5e1f8;
}

.post-main{
  height: calc(100% - 160px);
  width: 100%;
  background-color: #f5f5e1f8;
  padding-bottom: 50px;
}
.post-group{
  background-color:#afe5fc;
  border: solid 3px #afe5fc;
  width: 450px;
  height :100%;
  margin: auto;
  position: relative;
  margin-bottom: 100px;

  .more {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 100px;
    width: 80px;
    text-align: right;
    .post-edit{
      color: black;
    }
    .post-delete{
      color: black;
    }
    &__arrow{
      cursor: pointer;
    }
    
  }
  &__video{
    height: 45%;
    width: 50%;
    top: 30px;
    right: 0;
    left: 100px;
    bottom: 0;
    display: block;
    border: solid 3px #afe5fc;
    margin: auto;
    padding-top: 50px;
    &__movie{
      object-fit: fill;
      width: 100%;
      height: 100%;
      }
    }
    &__style{
      float: right;
    }
    &__crew{
      float: right;
    }
    &__old{
      float: right;
    }
  }

.post-form{
  height: 70px;
  background-color: #f5f5e1f8;
  text-align: center;


  .form{
    margin: auto;
    background-color: skyblue;
    width: 150px;
    height: 50px;
    text-align: center;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #0f9ada;
    border-radius: 4px;
    a{
      line-height: 50px;
      font-size: 30px;
      color: black;
    }
  }
}

