.list
  .list-header
    BBOY/BGRIL一覧
  .list-main
    - @users.each do |user|
      .list-main__name
        = link_to "#" ,class: "list-main__name__user" do
          = "#{user.gender} #{user.name}"